<ion-view title="Add List" ng-controller="addListCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
            <ion-list>
                <label class="item item-input">
                <input type="text" placeholder="ListName" ng-model="newList.name">
                </label>
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="search words" ng-model="search">
                </label>
                <ion-item class="item-divider">A</ion-item>

                <div ng-repeat="word in words | filter: search">
                    <ion-checkbox ng-click="addWord('{{word}}')">{{ word }}</ion-checkbox>
                </div>
            </ion-list>

            <a class="button button-stable button-block" type="submit" ng-click="saveObj(newList)">Create new list</a>
        
    </ion-content>
</ion-view>