<ion-view title="Add List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search words">
            </label>
            <ion-item class="item-divider">A</ion-item>
            <ion-checkbox>Apple</ion-checkbox>
            <ion-checkbox>animal</ion-checkbox>
        </ion-list>
        <a ui-sref="addList2" class="button button-stable button-block ">Next step</a>
    </ion-content>
</ion-view>