<ion-view title="cat">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/{{name[number]}}.jpg"  width="40%" height="auto">
        </div>
        <div class="button-bar">
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{position[0]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{position[1]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{position[2]}}</a>
        </div>
        <div class="button-bar">
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{position[3]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{position[4]}}</a>
            <a ui-sref="catCorrect" class="button button-stable button-block ">{{position[5]}}</a>
       </div>
       <div class="button-bar">
            <a ui-sref="catNotCorrect2" class="button button-stable button-block ">{{position[6]}}</a>
            <a ui-sref="catNotCorrect2" class="button button-stable button-block ">{{position[7]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{position[8]}}</a>
        </div>
    </ion-content>
</ion-view>