<ion-view title="practice1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/data/{{name[number]}}.jpg"  width="40%" height="auto">
        </div>
        <div class="button-bar">
            <a ui-sref="{{link[1]}}" class="button button-stable button-block ">{{position[1]}}</a>
            <a ui-sref="{{link[4]}}"  class="button button-stable button-block ">{{position[4]}}</a> 
            <a ui-sref="{{link[2]}}"  class="button button-stable button-block ">{{position[2]}}</a>
        </div>
        <div class="button-bar">
            <a ui-sref="{{link[3]}}" class="button button-stable button-block ">{{position[3]}}</a>
            <a ui-sref="{{link[8]}}" class="button button-stable button-block ">{{position[8]}}</a>
            <a ui-sref="{{link[5]}}" class="button button-stable button-block ">{{position[5]}}</a>
       </div>
       <div class="button-bar">
            <a ui-sref="{{link[0]}}" class="button button-stable button-block ">{{position[0]}}</a>
            <a ui-sref="{{link[7]}}" class="button button-stable button-block ">{{position[7]}}</a>
            <a ui-sref="{{link[6]}}" class="button button-stable button-block ">{{position[6]}}</a>
        </div>
    </ion-content>
</ion-view>