<ion-view title="Cat">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/{{name[number]}}.jpg"  width="40%" height="auto">
        </div>
        <div class="button-bar">
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{for[first][numberforother]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{for[first][numberforother+2]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{for[first][numberforother+3]}}</a>
        </div>
        <div class="button-bar">
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{for[first][numberforother+7]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{for[first][numberforother+5]}}</a>
            <a ui-sref="catCorrect" class="button button-stable button-block ">{{first}}</a>
       </div>
       <div class="button-bar">
            <a ui-sref="catNotCorrect2" class="button button-stable button-block ">{{for[first][numberforother+1]}}</a>
            <a ui-sref="catNotCorrect2" class="button button-stable button-block ">{{for[first][numberforother+6]}}</a>
            <a ui-sref="catNotcorrect" class="button button-stable button-block ">{{for[first][numberforother+4]}}</a>
        </div>
    </ion-content>
</ion-view>