<ion-view title="Daily use" class="pane">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
         <div class="button-bar" id="wrapper">
            <button class="circle2 button-stable button-block" ng-click="playTrack('a', 1)">A</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('b', 2)">B</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('c', 3)">C</button>
             <button class="circle2 button-stable button-block " ng-click="playTrack('d', 4)">D</button>
        </div>
         <div class="button-bar" id="wrapper">
            <button class="circle2 button-stable button-block " ng-click="playTrack('e', 5)">E</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('f', 6)">F</button>
              <button class="circle2 button-stable button-block " ng-click="playTrack('g', 7)">G</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('h', 8)">H</button>
        </div>
         <div class="button-bar" id="wrapper">
          
            <button class="circle2 button-stable button-block " ng-click="playTrack('i', 9)">I</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('j', 10)">J</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('k', 11)">K</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('l', 12)">L</button>
        </div>
      
         <div class="button-bar" id="wrapper">
            <button class="circle2 button-stable button-block " ng-click="playTrack('m', 13)">M</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('n', 14)">N</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('o', 15)">O</button>
             <button class="circle2 button-stable button-block " ng-click="playTrack('p', 16)">P</button>
        </div>
         <div class="button-bar" id="wrapper">
            <button class="circle2 button-stable button-block " ng-click="playTrack('q', 17)">Q</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('r', 18)">R</button>
               <button class="circle2 button-stable button-block " ng-click="playTrack('s', 19)">S</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('t', 20)">T</button>
        </div>
         <div class="button-bar" id="wrapper">
         
            <button class="circle2 button-stable button-block " ng-click="playTrack('u', 21)">U</button>
                <button class="circle2 button-stable button-block " ng-click="playTrack('v', 22)">V</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('w', 23)">W</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('x', 24)">X</button>
        </div>
     
         <div class="button-bar" id="wrapper">
             <button class="circle2 button-stable button-block "></button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('y', 25)">Y</button>
            <button class="circle2 button-stable button-block " ng-click="playTrack('z', 26)">Z</button>
            <button class="circle2 button-stable button-block "></button>
        </div>
    </ion-content>
</ion-view>



