<ion-view title="Daily use">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block" ng-click="playTrack('data/audio/a.wav', 1)">A</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/b.wav', 2)">B</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/c.wav', 3)">C</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/d.wav', 4)">D</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/e.wav', 5)">E</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/f.wav', 6)">F</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/g.wav', 7)">G</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/h.wav', 8)">H</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/i.wav', 9)">I</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/j.wav', 10)">J</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/k.wav', 11)">K</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/l.wav', 12)">L</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/m.wav', 13)">M</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/n.wav', 14)">N</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/o.wav', 15)">O</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/p.wav', 16)">P</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/q.wav', 17)">Q</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/r.wav', 18)">R</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/s.wav', 19)">S</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/t.wav', 20)">T</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/u.wav', 21)">U</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/v.wav', 22)">V</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/w.wav', 23)">W</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/x.wav', 24)">X</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/y.wav', 25)">Y</button>
            <button class="button button-stable button-block " ng-click="playTrack('data/audio/z.wav', 26)">Z</button>
        </div>
    </ion-content>
</ion-view>