<ion-view title="Daily use">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block ">A</button>
            <button class="button button-stable button-block ">B</button>
            <button class="button button-stable button-block ">C</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">D</button>
            <button class="button button-stable button-block ">E</button>
            <button class="button button-stable button-block ">F</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">G</button>
            <button class="button button-stable button-block ">H</button>
            <button class="button button-stable button-block ">I</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">J</button>
            <button class="button button-stable button-block ">K</button>
            <button class="button button-stable button-block ">L</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">M</button>
            <button class="button button-stable button-block ">N</button>
            <button class="button button-stable button-block ">O</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">P</button>
            <button class="button button-stable button-block ">Q</button>
            <button class="button button-stable button-block ">R</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">S</button>
            <button class="button button-stable button-block ">T</button>
            <button class="button button-stable button-block ">U</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">V</button>
            <button class="button button-stable button-block ">W</button>
            <button class="button button-stable button-block ">X</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">Y</button>
            <button class="button button-stable button-block ">Z</button>
        </div>
    </ion-content>
</ion-view>