<ion-view title="Dog">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/vbKBT6lRPirZRacDgAPJ_dog.jpg" width="40%" height="auto">
        </div>
        <div class="button-bar">
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">C</a>
            <a ui-sref="dogCorrect" class="button button-stable button-block ">D</a>
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">T</a>
        </div>
        <div class="button-bar">
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">Y</a>
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">B</a>
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">K</a>
        </div>
        <div class="button-bar">
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">F</a>
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">J</a>
            <a ui-sref="dogNotCorrect" class="button button-stable button-block ">P</a>
        </div>
    </ion-content>
</ion-view>