<ion-view title="Dog-not correct 2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/dog.jpg" width="40%" height="auto">
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block "></button>
            <button class="button button-royal button-block  icon-left ion-volume-medium">D</button>
            <button class="button button-stable button-block "></button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block "></button>
            <button class="button button-stable button-block "></button>
            <button class="button button-stable button-block "></button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block "></button>
            <button class="button button-stable button-block "></button>
            <button class="button button-stable button-block "></button>
        </div>
        <a ui-sref="summary" class="button button-stable button-block ">Next</a>
    </ion-content>
</ion-view>