<ion-view title="Dog-not correct">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/hkyDjURyRkmbzG64ZCVb_dog.jpg" width="40%" height="auto">
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block "></button>
            <a ui-sref="dogCorrect" class="button button-stable button-block ">D</a>
            <button class="button button-stable button-block "></button>
        </div>
        <div class="button-bar">
            <a ui-sref="dogNotCorrect2" class="button button-stable button-block ">Y</a>
            <button class="button button-stable button-block "></button>
            <button class="button button-stable button-block "></button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block "></button>
            <button class="button button-stable button-block "></button>
            <a ui-sref="dogNotCorrect2" class="button button-stable button-block ">P</a>
        </div>
    </ion-content>
</ion-view>