<ion-view title="Edit List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Edit List</h1>
        <form class="list">
            <ion-checkbox>horse</ion-checkbox>
            <ion-checkbox>hat</ion-checkbox>
            <ion-checkbox>ring</ion-checkbox>
            <ion-checkbox>cat</ion-checkbox>
            <ion-checkbox>dog</ion-checkbox>
            <ion-checkbox>house</ion-checkbox>
        </form>
        <div class="button-bar">
            <button class="button button-positive button-clear button-block button-large icon ion-trash-a"></button>
            <a ui-sref="settings" class="button button-positive button-clear button-block button-large icon ion-checkmark-round"></a>
        </div>
    </ion-content>
</ion-view>