<ion-view title="Edit list">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
    <h1>{{list.name}}</h1>
        <ion-list>
            <ion-checkbox ng-repeat="word in words" ng-checked="word.checked" ng-model="word.checked"name="{{word.word}}">{{word.word}}</ion-checkbox>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
            <a ng-click="save()" class="button button-stable icon ion-checkmark-round"style="width: 50%"> OK</a>
            <button ng-click="abort()" class="button button-stable icon ion-close" style="width: 50%"> Cancel</button>
    </ion-footer-bar>
</ion-view>
