<ion-view title="Keyphone">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 91px;"></div>
        <a ui-sref="everydayUse" class="button button-positive button-outline button-block button-large icon-left ion-android-apps">Everyday use</a>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <a ui-sref="practise" class="button button-positive button-outline button-block button-large icon-left ion-android-bulb">Practise</a>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <a ui-sref="settings" class="button button-positive button-outline button-block button-large icon-left ion-android-create">Settings</a>
        <form class="list"></form>
    </ion-content>
</ion-view>