<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="pane">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header" >
      </ion-list>
        <ion-item class="item item-trns text-center" menu-close ui-sref="app.start">

          Home
        </ion-item>
        <ion-item class="item item-trns text-center" menu-close ui-sref="app.dailyUse">
          Daily use
        </ion-item>
        <ion-item class="item item-trns text-center" menu-close ui-sref="app.chooseList">
          Practise
        </ion-item>
        <ion-item class="item item-trns text-center" menu-close ui-sref="app.settings">
          Settings
        </ion-item>
        <ion-item class="item item-trns text-center" menu-close ui-sref="app.addList">
          New List
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
