<ion-view title="New List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Select your words</h3>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Search</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <form class="list"></form>
        <form class="list">
            <ion-checkbox>horse</ion-checkbox>
            <ion-checkbox>hat</ion-checkbox>
            <ion-checkbox>ring</ion-checkbox>
        </form>
        <form class="list"></form>
        <div class="button-bar">
            <a ui-sref="settings" class="button button-positive button-clear button-block  icon ion-close-round"></a>
            <a ui-sref="enterListName" class="button button-positive button-clear button-block  icon ion-checkmark-round"></a>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>