<ion-view title="Practise">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/cN6UyfNQ7SoRcc9Fj66A_cat.jpg" width="70%" height="200">
        </div>
        <div>
            <p>tap on the first letter of the word</p>
        </div>
        <div class="button-bar">
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">A</a>
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">B</a>
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">X</a>
        </div>
        <div class="button-bar">
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">T</a>
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">H</a>
            <a ui-sref="practise6" class="button button-positive button-outline button-block ">C</a>
        </div>
        <div class="button-bar">
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">E</a>
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">K</a>
            <a ui-sref="practise3" class="button button-positive button-outline button-block ">J</a>
        </div>
    </ion-content>
</ion-view>