<ion-view title="Practise">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/ulifO1VfSTGiCyjLeG2q_cat.jpg" width="70%" height="200">
        </div>
        <div>
            <p>tap on image to listen to the word</p>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-assertive button-outline button-block ">X</button>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-balanced button-outline button-block  icon-left ion-android-volume-up">C</button>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block ">K</button>
            <button class="button button-positive button-outline button-block "></button>
        </div>
        <button class="button button-positive button-clear button-block  icon-right ion-chevron-right">next</button>
    </ion-content>
</ion-view>