<ion-view title="Practise">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/ulifO1VfSTGiCyjLeG2q_cat.jpg" width="70%" height="200">
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
            <a ui-sref="practise4" class="button button-positive button-outline button-block ">X</a>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
            <a ui-sref="practise6" class="button button-positive button-outline button-block ">C</a>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <a ui-sref="practise5" class="button button-positive button-outline button-block ">K</a>
            <button class="button button-positive button-outline button-block "></button>
        </div>
    </ion-content>
</ion-view>