<ion-view title="Practise">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Choose the
                <strong>list</strong>you want to practise</p>
        </div>
        <form class="list">
            <ion-checkbox>list 1</ion-checkbox>
            <ion-checkbox>list 2</ion-checkbox>
            <ion-checkbox>list 3</ion-checkbox>
            <ion-checkbox>list 4</ion-checkbox>
        </form>
        <a ui-sref="practise2" class="button button-positive button-block ">Start</a>
    </ion-content>
</ion-view>