<ion-view title="Practise ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/3torqefZTye2Zl20TKQP_check.jpg" width="70%" height="200">
        </div>
        <div>
            <p>tap image to listen to the word</p>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-balanced button-outline button-block  icon-left ion-android-volume-up">C</button>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
            <button class="button button-positive button-outline button-block "></button>
        </div>
        <div>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-clear button-block  icon-right ion-chevron-right">next</button>
        </div>
    </ion-content>
</ion-view>