<!--
 * Written by Janos Potecki 02/2015
 * UCL Computer Science 
 * janospotecki@outlook.com
-->
<ion-view title="Settings ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Choose your List</h3>
        <form class="list">
            <ion-radio>Animals</ion-radio>
            <ion-radio>Buildings</ion-radio>
            <ion-radio>Countries</ion-radio>
        </form>
        <div class="button-bar">
            <button class="button button-positive button-clear button-block button-large icon ion-trash-a"></button>
            <a ui-sref="editList" class="button button-positive button-clear button-block button-large icon ion-edit"></a>
            <a ui-sref="newList" class="button button-positive button-clear button-block button-large icon ion-android-add"></a>
        </div>
    </ion-content>
</ion-view>