<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Choose your list</h3>
            <div ng-repeat="list in lists">
                <ion-radio ng-click="select({{list._id}})">{{list.name}}</ion-radio>
            </div>

            <div class="button-bar">

                <button class="button button-stable button-block  icon ion-close"></button>
                <a ng-click="editList()" class="button button-stable button-block icon ion-compose"></a>
                <a ui-sref="addList" class="button button-stable button-block icon ion-plus"></a>
            </div>
            <a ng-click="delete()" 
            ng-hide="!lists.length"
            class="button button-outline button-assertive button-block icon ion-clean">Clear all DATA</a>
        </form>

    </ion-content>
</ion-view>