<ion-view title="Add List" ng-controller="addListCtrl" class="pane" >
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <!--
        TODO: add google voice recongnizion here
        http://devgirl.org/2016/01/08/speaking-with-cordova/
        -->
        <h2 class="color">Did you say the word correctly</h2>
         <div class="space6"></div>
        <a class="circle3 button-positive" ng-click="check(true)">Yes</a>
          <div class="space6"></div>
        <a class="circle3 button-positive" ng-click="check(false)">No</a>
    </ion-footer-bar>
</ion-view>
