<ion-view title="Keyphone" class="pane">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="spacetop"></div>
        <a ui-sref="app.dailyUse" class="btn3 button-light button-block button-large icon-left ion-clock blockbutton"> Daily use</a>
        <div class="space6"></div>
        <a ui-sref="app.chooseList" class="btn3 button-light button-block button-large icon-left ion-document-text blockbutton"> Practice</a>
          <div class="space6"></div>
        <a ui-sref="app.settings" class="btn3 button-stable button-block button-large icon-left ion-settings blockbutton"> Settings</a>
         <div class="space6"></div>
        <a ui-sref="app.statistcs" class="btn3 button-stable button-block button-large icon-left ion-stats-bars blockbutton"> Statistics</a>
    </ion-content>
</ion-view>
