<ion-view title="Keyphone">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="app.dailyUse" class="button button-light button-block button-large icon-left ion-clock">Daily use</a>
        <a ui-sref="app.chooseList" class="button button-light button-block button-large icon-left ion-document-text">Practice</a>
        <a ui-sref="app.settings" class="button button-stable button-block button-large icon-left ion-settings">Settings</a>
    </ion-content>
</ion-view>
