
<ion-view title="Statistics">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        numdailyuse: {{NumDailyUse}} <br />
 time minutes: {{TimeDailyUseMinutes}}<br />
 most played words: {{MostPractisedWord}} <br />
 most correct words: {{TopCorrectWord}} <br />
 most wrong words: {{TopWrongWord}} <br />
 started practises: {{NumPractiseStarted}} <br />
 finished practises: {{NumPractiseFinished}} <br />
 <canvas donutchart options="pieOptions" data="bardata" width="500" height="300"></canvas>

 practises by day: {{PractiseByDay}} <br />
 use of characters [a..z]: {{DailyUseCharStatistics}}<br />
    </ion-content>
</ion-view>
