<ion-view title="Summary">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <a ui-sref="help" class="button button-stable button-block ">With help</a>
        <a ui-sref="correct" class="button button-stable button-block ">Correct</a>
        <a ui-sref="incorrect" class="button button-stable button-block ">Incorrect</a>
        <div class="button-bar"></div>
        <button class="button button-calm button-block button-small">Redo</button>
        <button class="button button-calm button-block button-small">Other List</button>
        <button class="button button-calm button-block button-small">Menu</button>
    </ion-content>
</ion-view>