<ion-view title="Summary">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            Correct: {{correct}}
        </div>
        <div>
            Correct with help: {{withHelp}}
        </div>
        <div>
            Incorrect: {{wrong}}
        </div>

        <a class="button button-calm button-block button-small" ng-click="redo()" >Redo</a>
        <a class="button button-calm button-block button-small" ng-click="otherList()" >Other List</a>
        <a class="button button-calm button-block button-small" ng-click="home()" >Menu</a>
        <form class="list"></form>
    </ion-content>
</ion-view>
