<ion-view title="Add List" ng-controller="addListCtrl" class="pane" >
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <!--
        TODO: add google voice recongnizion here
        http://devgirl.org/2016/01/08/speaking-with-cordova/
        -->
        <h2>Did you say the word correctly</h2>
        <a class="button button-positive" ng-click="check(true)">Yes</a>
        <a class="button button-positive" ng-click="check(false)">No</a>
    </ion-footer-bar>
</ion-view>
<style type="text/css">
.pane{
background:url(../img/background1.png) no-repeat center center fixed; 
        background-size: cover;
}
</style>