/* Empty. Add your own CSS if you like */
.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.pane{
background:url(../data/img/background1.png) no-repeat center center fixed; 
        background-size: cover;

}
.liststyle{
    font-size:15px;color:#63B8FF;text-align:center;text-decoration: none;background: #F0F8FF;font-weight:bold;border-radius: 12px; border: 2px solid #C6E2FF;margin-bottom: 30px;
}
.circle{display:block;width:85px;height:85px;border-radius:66px;border:4px double #C6E2FF;font-size:55px;color:#C6E2FF;line-height:85px;text-align:center;text-decoration:none;text-shadow:0 1px 0 #C6E2FF;background:#F0F8FF; font-weight:bold}
.circle:hover{border:4px double #FFFFFF;color:#F0F8FF;text-decoration:none;background:#C6E2FF}

.circle2{display:block;width:92px;height:92px;border-radius:66px;border:4px double #C6E2FF;font-size:50px;color:#C6E2FF;line-height:92px;text-align:center;text-decoration:none;text-shadow:0 1px 0 #C6E2FF;background:#F0F8FF; font-weight:bold}
.circle2:hover{border:4px double #FFFFFF;color:#F0F8FF;text-decoration:none;background:#C6E2FF}
.circle3{display:block;width:92px;height:92px;border-radius:66px;border:4px double #C6E2FF;font-size:20px;color:#C6E2FF;line-height:92px;text-align:center;text-decoration:none;text-shadow:0 1px 0 #C6E2FF;background:#F0F8FF; font-weight:bold;margin-left: 120px}
.circle3:hover{border:4px double #FFFFFF;color:#F0F8FF;text-decoration:none;background:#C6E2FF}
.space{margin-left: 20px}
.space2{margin-bottom: 10px}
.btn1{
    font-size:15px;color:#63B8FF;text-align:center;text-decoration: none;background:#fff;border-radius: 5px; border: 2px solid #fff;
}
.liststyle2{
    font-size:15px;color:#63B8FF;text-align:center;text-decoration: none;background: #F0F8FF;font-weight:bold;border-radius: 12px; border: 2px solid #C6E2FF;
}
.btn2{
    font-size:15px;color:#FF3030;text-align:center;text-decoration: none;background:#fff;border-radius: 5px; border: 2px solid #fff;
}
.space3{
    margin-right: 80px;
}
.barcolor{
background-color: #fff;
}
.space4{
    margin-right: 20px;
}
.space5{
    margin-bottom: 30px;
}
.color{
    text-align: center;
    color:#63B8FF;
    font-weight: bold;
    
}
.color2{
    color:#63B8FF;
    font-weight: bold;
    
}

.btn3{
	font-size:30px;color:#63B8FF;text-align:center;text-decoration: none;background: #F0F8FF;font-weight:bold;border-radius: 12px; border: 2px solid #C6E2FF;
}
.space6 {margin-bottom:50px}
.spacetop {margin-bottom:150px;}
.spacetop2 {margin-bottom:60px;}